.curved-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* margin: 40px 0;
  padding: 20px 0; */
}
.curved-wrapper{
    /* position: absolute; */
}
.curved-wrapper .curve-left-svg{
    position: absolute;
top:-110px;
left:114px;
font-family: "BonV-all";
}
.curved-wrapper .curve-right-svg {
    position: absolute;
 top:-153px;
 right:103px;
 font-family: "BonV-all";
}
.curve-left-svg,
.curve-right-svg {
  width: 30%;
}
@media(max-width:768px){
    .curved-wrapper .curve-left-svg{
    position: absolute;
    width: 100%;
top:-200px;
left:100px;
}
.curved-wrapper .curve-right-svg {
    position: absolute;
    width: 100%;
 top:-150px;
 right:-100px;
}
.curve-left-svg,
.curve-right-svg {
  width: 100%;
}
}
@media(max-width:992px){
    .curved-wrapper .curve-left-svg{
    position: absolute;
    width: 100%;
top:-300px;
left:100px;
}
.curved-wrapper .curve-right-svg {
    position: absolute;
    width: 100%;
 top:-250px;
 right:-150px;
}
.curve-left-svg,
.curve-right-svg {
  width: 100%;
}
}
@media (max-width: 465px) {
 .curved-wrapper .curve-left-svg{
    position: absolute;
top:-190px;
 width: 100%;
left:20px;
}
.curved-wrapper .curve-right-svg {
    position: absolute;
 top:-150px;
  width: 100%;
 right:-30px;
}

}