.hero-style-3.hero .slide-title{
    width:500px;
}
.hero-style-3.hero .slide-title h2{
    line-height: 56px !important;
   font-size: 52px !important;
}
.hero-style-3.hero .slide-caption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}