.hero-style-3.hero .slide-title{
    width:500px;
}
.hero-style-3.hero .slide-title h2{
    line-height: 56px !important;
   font-size: 52px !important;
}
.hero-style-3.hero .slide-caption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
@media(max-width:992px){
    .hero-style-3.hero .slide-title{
        width:100%;
    }
    .hero-style-3.hero .slide-title h2{
        font-size: 36px !important;
        line-height: 42px !important;
    }
}